<div class="hero-unit">
	<h1>歡迎來到 Microblog</h1>
	<p>Microblog 是一個基於 Node.js 的微博系统。</p>
	<% if (!loginStatus) { %>
	<p>
		<a class="btn btn-primary btn-large" href="/login">登入</a>
		<a class="btn btn-large" href="/reg">立即註冊</a>
	</p>
	<% } %>
</div>
<div class="row">
	<div class="span4">
		<h2>Carbo 說</h2>
		<p>東風破早梅向暖一枝開冰雪無人見春從天上</p>
	</div>
	<div class="span4">
		<h2>BYVoid 說</h2>
		<p>
			開放的中國轉換（OpenCC）是一個開源的中文簡繁轉換項目，
			致力於製作高質量的基於統計預料的簡繁轉換詞庫。
			在線轉換服務及圖形用戶界面。
		</p>
	</div>
	<div class="span4">
		<h2>佛振 說</h2>
		<p>
			中州韻輸入法引擎/霧凇輸入法引擎取意歷史上通行的中州韻，
			願寫就一部匯集音韻學智慧的輸入法經典之作。
			項目網站設在http://code.google.com/p/rimeime/
			使其成為一款個性十足的開源輸入法。
		</p>
	</div>
</div>
