<% if (!loginStatus) { %>
<div class="hero-unit">
	<h1>歡迎來到 Microblog</h1>
	<p>Microblog 是一個基於 Node.js 的微博系统。</p>
	<p>
		<a class="btn btn-primary btn-large" href="/login">登入</a>
		<a class="btn btn-large" href="/reg">立即註冊</a>
	</p>
</div>
<% } else { %>
	<form method="post" action="/post" class="well form-inline center" style="text-align:center;">
		<input type="text" class="span8" name="post">
		<button type="submit" class="btn btn-success"><i class="icon-comment icon-white"></i>發言</button>
	</form>
<% } %>
<% posts.forEach(function(post, index) { 
  if (index % 3 == 0) { %>
    <div class="row">
<%} %>
  <div class="span4">
    <h2><a href="/u/<%= post.name %>"><%= post.name %></a> 說</h2>
    <p><%= post.msg %></p>
  </div>
<% if (index % 3 == 2) { %>
    </div>
<% } %>
<%}) %>
<% if (posts.length % 3 != 0) { %>
  </div>
<%} %>